@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'UbuntuCustom';
  src: url('/assets/ubuntu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 18s linear infinite;
}

@keyframes marquee-slow {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-slow {
  display: inline-block;
  white-space: nowrap;
  animation: marquee-slow 36s linear infinite;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #facc15;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

html {
  scrollbar-color: #facc15 #18181b;
  scrollbar-width: thin;
}

.animate-spin-slow {
  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}